@-webkit-keyframes spin {
  from { transform: rotateY(180deg) translateZ(50vw) translateX(0vw); }
  to   { transform: rotateY(90deg) translateZ(0vw) translateX(50vw); }
}

/* cube wrapper */
.spin {
  animation: spin 1.4s ease;
}

.goUp, .goBottom, .goLeft, .goRight {
  font-weight: 900;
  font-size: 2em;
  align-self: center;
  justify-self: center;
  text-transform: uppercase;
  width: 300px;
  text-align: center;
}

.goUp {
  grid-area: goUp;
}
.goRight {
  grid-area: goRight;
  transform: rotate(90deg);
}
.goBottom {
  grid-area: goBottom;
}
.goLeft {
  grid-area: goLeft;
  transform: rotate(-90deg);
}
.bottom .goBottom, .top .goBottom {
  align-self: start;
  margin-top: 8px;
}
.bottom .goUp, .top .goUp {
  align-self: end;
  margin-bottom: 4px;
}

.goUp:hover, .goBottom:hover, .goLeft:hover, .goRight:hover {
  color: silver;
  text-decoration: line-through;
  transition: all ease-out .3s;
}

body {
  overflow: hidden;
  font-weight: 900;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, red, yellow, orange);
}

.perspective {
  position: relative;
  perspective: 100vw;
  width: 100%;
  height: 100%;
  /*background: blue;*/
}

.cube {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all ease 1.4s;
  transform: translateZ(-50vw);
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all .4s;
  background: black;
  /*opacity: 0.90;*/
  display: grid;
  grid-template-areas: 'goUp goUp goUp'
                       'goLeft navBarRectangle goRight'
                       'goBottom goBottom goBottom';
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 7% 87% 7%;
}

.faceOpacity {
  opacity: 0.80;
  transition: all .4s;
}

.front {
  transform: translateZ(50vw);
}
.back {
  transform: translateZ(-50vw) rotateY(180deg);
}
.left {
  transform: rotateY(270deg) translateX(-50vw);
  transform-origin: center left;
}
.right {
  transform: rotateY(-270deg) translateX(50vw);
  transform-origin: top right;
}
.top {
  /*transform: rotateX(90deg);*/
  transform-origin: center;
  height: 100vw;
  grid-template-rows: 28% 44% 28%;
}
.bottom {
  /*transform: rotateX(-90deg);*/
  transform-origin: center;
  height: 100vw;
  grid-template-rows: 28% 44% 28%;
}

.navBarRectangle {
  width: 100%;
  height: 100%;
  margin: auto;
  grid-area: navBarRectangle;
  display: flex;
  justify-content: center;
  align-items: center;
}
.front_navBarRectangle {
  border: 1px solid rgba(240, 100, 73, 1);
}
.back_navBarRectangle {
  border: 1px solid rgba(183, 58, 255, 1);
}
.left_navBarRectangle {
  border: 1px solid rgba(111, 171, 232, 1);
}
.right_navBarRectangle {
  border: 1px solid rgba(53, 255, 105, 1);
}
.top_navBarRectangle, .bottom_navBarRectangle {
  border: 1px solid rgba(249, 200, 14, 1);
}
.front_Wrapper {
  width: 600px;
  height: 300px;
  color: white;
  font-size: 36px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.front_welcomeMessage {
}
.redColored {
  color: rgba(240, 100, 73, 1);
}
.blueColored {
  color: rgba(111, 171, 232, 1);
}
.yellowColored {
  color: rgba(249, 200, 14, 1);
}
.greenColored {
  color: rgba(53, 255, 105, 1);
}
.purpleColored {
  color: rgba(183, 58, 255, 1);
}
.front_heplUserText {
}
.greyed {
  text-decoration: line-through;
  color: grey;
}

.aboutMe__ContentDiv {
  width: 80%;
  height: 70%;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.aboutMe__Title {
  font-size: 36px;
}
.aboutMe__Text {
  line-height: 45px;
  font-weight: 300;
}
.contactMe {
  cursor: pointer;
}
span.blueColored:hover {
  text-decoration: underline;
  transition: all ease-out .3s;
}

.comingSoon {
  font-size: 40px;
  font-weight: 900;
}

/*contactMe*/

.contactMe__contentDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 90%;
}
.contactMe__Title {
  color: white;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
}
.contactMe__List {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.contactMe__ListItemsLink {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 84px;
  width: 160px;
  font-size: 30px;
  font-weight: 900;
}
.contactMe__ListItemsLink img {
  width: 48px;
  height: 48px;
}
.contactMe__Text {
  text-align: center;
  color: white;
  font-size: 22px;
}
.contactMe__Form {
  display: flex;
  flex-direction: row;
  width: 570px;
  align-items: flex-end;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
}
.contactMe__Form input {
  background: rgba(0, 0, 0, 0);
  color: white;
  height: 30px;
  font-size: 18px;
  border: 1px solid rgba(183, 58, 255, 1);
  width: 500px;
}
.inputText {
  border: 1px solid rgba(183, 58, 255, 1);
  height: 180px;
  font-size: 18px;
  width: 500px;
  background: rgba(0, 0, 0, 0);
  color: white;
}
.contactMe__submit {
  width: 60px !important;
  background: rgba(183, 58, 255, 1) !important;
}

/*projects*/

.projects__ContentDiv {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.projects__Title {
  font-weight: 600;
  font-size: 26px;
  text-align: center;
}

.projects__Wrapper {
  display: grid;
  grid-template: 200px 250px / repeat(3, 200px);
  width: 800px;
  height: 450px;
  justify-content: space-between;
}

.projects__projectContainer {
  width: 200px;
  height: 200px;
  align-self: end;
}

.projects__imgDiv {
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.projects__img {
  height: 100%;
  width: 100%;
  background: blue;
  max-width: 100%;
  transition: ease 1.8s;
}

.projects__imgHover {
  height: 200px;
  width: 200px;
  background: black;
  position: absolute;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 2;
}

.projects__imgHoverText {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.projects__projectContainer:hover .projects__img {
    transform: scale(1.16);
}

.projects__projectContainer:hover .projects__imgHover {
  transition: ease 0.6s;
  opacity: 0.6;
}