.test {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: red;
  width: 100%;
  height: 100%;
}

.testL1, .testL2, .testL3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.goUp, .goBottom, .goLeft, .goRight {
  font-weight: 900;
  font-size: 2em;
  align-self: center;
  justify-self: center;
  text-transform: uppercase;
  width: 300px;
  text-align: center;
}

.goUp {
  grid-area: goUp;
  align-self: center;
  justify-self: center;
}
.goRight {
  grid-area: goRight;
  transform: rotate(90deg);
}
.goBottom {
  grid-area: goBottom;
}
.goLeft {
  grid-area: goLeft;
  transform: rotate(-90deg);
}

.goUp:hover, .goBottom:hover, .goLeft:hover, .goRight:hover {
  color: silver;
  text-decoration: line-through;
  transition: .3s ease;
}

.left .testL3 {
  justify-content: flex-end;
}

body {
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: yellow;
}

.perspective {
  position: relative;
  perspective: 100vw;
  width: 100%;
  height: 100%;
  /*background: blue;*/
}

.cube {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.4s;
  transform: translateZ(-50vw);
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all .4s;
  /*opacity: 0.90;*/
}

.faceOpacity {
  opacity: 0.80;
  transition: all .4s;
}

.front {
  transform: translateZ(50vw);
  background: black;
  display: grid;
  grid-template-areas: 'goUp goUp goUp'
                       'goLeft front_navBarRectangle goRight'
                       'goBottom goBottom goBottom';
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 7% 87% 7%;
  color: rgba(240, 100, 73, 1);
}
.back {
  transform: translateZ(-50vw) rotateY(180deg);
  background: blue;
}
.left {
  transform: rotateY(270deg) translateX(-50vw);
  transform-origin: center left;
}
.right {
  transform: rotateY(-270deg) translateX(50vw);
  transform-origin: top right;
}
.top {
  /*transform: rotateX(90deg);*/
  transform-origin: center;
  height: 100vw;
}
.bottom {
  /*transform: rotateX(-90deg);*/
  transform-origin: center;
  height: 100vw;
}

.front_navBarRectangle {
  border: 1px solid rgba(240, 100, 73, 1);
  width: 100%;
  height: 100%;
  margin: auto;
  grid-area: front_navBarRectangle;
  display: flex;
  justify-content: center;
  align-items: center;
}
.front_Wrapper {
  width: 600px;
  height: 300px;
  color: white;
  font-size: 36px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.front_welcomeMessage {
}
.redColored {
  color: rgba(240, 100, 73, 1);
}
.front_heplUserText {
}