.goUp, .goBottom, .goLeft, .goRight {
  font-weight: 900;
  font-size: 2em;
  align-self: center;
  justify-self: center;
  text-transform: uppercase;
  width: 300px;
  text-align: center;
}

.goUp {
  grid-area: goUp;
  align-self: end;
}
.goRight {
  grid-area: goRight;
  transform: rotate(90deg);
}
.goBottom {
  grid-area: goBottom;
}
.goLeft {
  grid-area: goLeft;
  transform: rotate(-90deg);
}
.bottom .goBottom, .top .goBottom {
  align-self: start;
  margin-top: 4px;
}
.bottom .goTop, .top .goTop {
  align-self: end;
  margin-top: 4px;
}

.goUp:hover, .goBottom:hover, .goLeft:hover, .goRight:hover {
  color: silver;
  text-decoration: line-through;
  transition: .3s ease;
}

body {
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: #B73AFF;
}

.perspective {
  position: relative;
  perspective: 100vw;
  width: 100%;
  height: 100%;
  /*background: blue;*/
}

.cube {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.4s;
  transform: translateZ(-50vw);
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all .4s;
  background: black;
  /*opacity: 0.90;*/
  display: grid;
  grid-template-areas: 'goUp goUp goUp'
                       'goLeft navBarRectangle goRight'
                       'goBottom goBottom goBottom';
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 7% 87% 7%;
}

.faceOpacity {
  opacity: 0.80;
  transition: all .4s;
}

.front {
  transform: translateZ(50vw);
  color: rgba(240, 100, 73, 1);
}
.back {
  transform: translateZ(-50vw) rotateY(180deg);
  color: rgba(240, 100, 73, 1);
}
.left {
  transform: rotateY(270deg) translateX(-50vw);
  transform-origin: center left;
  color: rgba(111, 171, 232, 1);
}
.right {
  transform: rotateY(-270deg) translateX(50vw);
  transform-origin: top right;
  color: rgba(111, 171, 232, 1);
}
.top {
  /*transform: rotateX(90deg);*/
  transform-origin: center;
  height: 100vw;
  color: rgba(249, 200, 14, 1);
  grid-template-rows: 28% 44% 28%;
}
.bottom {
  /*transform: rotateX(-90deg);*/
  transform-origin: center;
  height: 100vw;
  color: rgba(249, 200, 14, 1);
  grid-template-rows: 28% 44% 28%;
}

.navBarRectangle {
  width: 100%;
  height: 100%;
  margin: auto;
  grid-area: navBarRectangle;
  display: flex;
  justify-content: center;
  align-items: center;
}
.front_navBarRectangle, .back_navBarRectangle {
  border: 1px solid rgba(240, 100, 73, 1);
}
.left_navBarRectangle, .right_navBarRectangle {
  border: 1px solid rgba(111, 171, 232, 1);
}
.top_navBarRectangle, .bottom_navBarRectangle {
  border: 1px solid rgba(249, 200, 14, 1);
}
.front_Wrapper {
  width: 600px;
  height: 300px;
  color: white;
  font-size: 36px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.front_welcomeMessage {
}
.redColored {
  color: rgba(240, 100, 73, 1);
}
.blueColored {
  color: rgba(111, 171, 232, 1);
}
.yellowColored {
  color: rgba(249, 200, 14, 1);
}
.front_heplUserText {
}